<div class="grid-4q nogap teaser">
  <a href="#" class="q1-start q1-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">Audit</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more</span>
  </a>
  <a href="#" class="q2-start q2-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">Design</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more</span>
  </a><a href="#" class="q3-start q3-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">Develop</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more</span>
  </a><a href="#" class="q4-start q4-end stealthy-link area-teaser">
    <header class="teaser-h">
      <h2 class="title">Laws &amp; Policies</h2>
    </header>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
    <span class="fakelink">Learn more</span>
  </a>
</div>